body {
	margin: 0;
	overflow: hidden;
	/*background-color: #8367d8;*/
	/*background-color: #46ffdd;*/
	background-color: #000;
}

a {
	text-decoration: none;
	opacity: 0.7;
	color: #666666;
	transition: opacity 0.3s;
}

a:hover {
	opacity: 1;
}

#ui.invert .info {
	color: rgba(0, 0, 0, 0.8);
}

#ui.invert h3 {
	color: #333;
}

.btn-info {
	position: absolute;
	top: 20px;
	right: 20px;

	font-family: sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #CCCCCC;

	z-index: 999;
}

.btn-info a {
	padding: 10px;
}


.info {
	position: absolute;
    top: 0;
    right: 0;
    background: rgba(103, 103, 103, 0.3);
    color: rgba(255, 255, 255, 0.3);
    height: 100%;
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
	justify-content: center;
	align-items: center;
	transform: translate3d(100%, 0, 0);
	transition: transform 0.4s ease-in-out;
}

.info.open {
	transform: translate3d(0, 0, 0);
}

.info-wrapper {
	padding: 150px 140px 150px 160px;
}

.info .block {
	margin-top: 50px;
}
.info .block:nth-child(1) {
	margin-top: 0;
}

h3 {
	font-size: 13px;
	color: #AAA;
}

p {
	margin: 6px auto;
}

p.mobile { display: none; }
body.mobile p.desktop { display: none; }
body.mobile p.mobile { display: block; }

@media (max-width: 800px) {
	.info { width: 100%; background: black; }
	.info-wrapper { padding: 0; }
}

@media (max-height: 400px) {
	.info .block { margin: 10px 50px; float: left; }
}
